@font-face {
    font-family: 'Unica One'; /* Nome da fonte */
    src: url('../fonts/UnicaOne-Regular.ttf') format('woff2');
}
@font-face {
    font-family: 'Inter'; /* Nome da fonte */
    src: url('../fonts/static/Inter-Regular.ttf') format('woff2');
}

* {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

:root {
    --brown: #674634;
    --dark-gray: #141414;
    --whitesmoke: #EBEBEB;
    --gray: #303030;
    --dark-blue: #4d4053;
    --darkmode-card-clr: #36322F;
    --darkmode-card-border-clr: #CA8C69;
}

body {
    background-color: var(--dark-gray);
    display: flex;
    flex-direction: column;
}
.cursor-pointer:hover{
    cursor: pointer;
}

/* Barra de menu */

#logo h1 {
    font-family: 'Unica One', sans-serif;
    font-size: 2.2rem;
    color: #674634;
    user-select: none;
}

#logo span {
    color: var(--whitesmoke);
}

#menu-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px 20px 20px 20px;
}

#menu-bar nav {
    font-family: 'Inter', sans-serif;
    display: flex;
    gap: 20px;
}

#menu-bar nav a {
    color: var(--whitesmoke);
    padding-bottom: 10px;
    border-bottom: 1px solid var(--dark-gray);
}
#menu-bar nav a:hover {
    transition: border 0.2s ease;
    border-bottom: 1px solid var(--whitesmoke);
}

#menu-bar nav a img {
    width: 23px;
}

/* Seção das coleções */

.section-label {
    font: 1.2rem 'Inter';
    color: var(--whitesmoke);
    margin-left: 2rem;
    margin-bottom: 1rem;
}

#collections-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: start;
    width: 90%;
    max-width: 1020px;
    height: 100%;
}

#collections-section {
    display: flex;
    align-self: center;
    background-color: #1B1B1B;
    border-radius: 15px;
    padding: 30px;
    flex-direction: row;
    align-items: center;
}

#search-input-section {
    width: 100%;
    height: 2.4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 7px;
    padding-left: 15px;
    background-color: var(--dark-gray);
    border-radius: 5px;

    input {
        width: 100%;
        background-color: transparent;
        font: 0.8rem 'Inter';
        border: none;
        color: var(--whitesmoke);
        margin-bottom: 2px;
    }:focus {
        outline: none;
    }::placeholder {
        color: #ffffff65;
    }
}

#collections-list {
    align-self: flex-start;
    width: 25%;
    height: 85%;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
    ul {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        overflow-x: auto;
        width: 100%;
        gap: 10px;
    }

    ul a {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        padding: 10px 15px 10px 15px;
        border-radius: 5px;
        font-family: 'Inter', sans-serif;
        font-size: 0.9em;
        color: var(--whitesmoke);
        background-color: #2c2c2c66;
        border: 1px solid #89898965;
    }
    a.selected {
        background-color: #ecaf8f20;
        border: 1px solid #B5714B;

        span {
            display: block;
        }
    }
    a span {
        display: none;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #ffffff;
    }
}

#collection-content {
    position: relative;
    width: 100%;
    height: 85%;
    display: flex;
    padding-left: 50px;
    /* padding-right: 30px; */
    flex-direction: column;
    border-left: 1px solid var(--gray);
}

#collection-header {
    font-family: 'Inter', sans-serif;
    font-weight: 500px;
    font-size: 1.5rem;
    color: var(--whitesmoke);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#collection-header-buttons{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 10px;

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 5px;
        height: 100%;
        min-width: 30px;
        background-color: var(--dark-gray);

        img {
            width: 20px;
            opacity: 0.8;
            transition: opacity 0.3s ease;
        }:hover{
            opacity: 1;
        }
    }
}

#collection-classes {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 7px;
    max-width: 99%;
    margin-bottom: 20px;

    span {
        width: fit-content;
        font-family: 'Inter', sans-serif;
        font-size: 0.8rem;
        padding: 5px 10px 5px 10px;
        border-radius: 5px;
        user-select: none;
    }
}
.collection-class-purple {
    background-color: #693468;
    color: #C99DE5;
}
.collection-class-blue {
    background-color: #254366;
    color: #97b3e7
}
.collection-class-green {
    background-color: #1b5c3b;
    color: #81cea8;
}
.collection-class-orange {
    background-color: #7e5635;
    color: #daaa83;
}

#collection-items {
    position: relative;
    max-width: 100%;
    height: 100%;
    margin-top: 20px;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    padding-bottom: 10px;

    .card {
        display: block;
        width: 20%;
        min-width: 150px;
        height: 15rem;
        background-color: var(--darkmode-card-clr);
        border: 1px solid var(--darkmode-card-border-clr);
        border-radius: 15px;
    }
}

footer {
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 0.8rem 'Inter';
    color: #777777;
}

@media (max-width: 785px) {
    #menu-bar {
        background-color: #1B1B1B;
        margin-bottom: 30px;
    }
    #menu-bar nav {
        display: none;
    }

    .section-label {
        display: none;
    }
    #collections-section {
        flex-direction: column;
    }

    #collections-list {
        width: 100%;
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid var(--gray);
        
        ul {
            width: 100%;
            display:flex;
            flex-wrap: wrap;
            flex-direction: column;
            height: 3rem;
            overflow-x: auto;

            a {
                width: fit-content;
            }
        }
    }

    #collection-content {
        border: none;
        padding: 0;
    }

    #collection-header {
        margin-bottom: 10px;
    }

    #collection-items {
        margin-top: 0;
        justify-content: center;
    }
}

@media (max-width: 390px) {
    #collection-classes {
        flex-wrap: wrap;
        flex-direction: column;
        height: 2.5rem;
        overflow-x: auto;
    }
}
