@font-face {
    font-family: 'Unica One'; /* Nome da fonte */
    src: url('../fonts/UnicaOne-Regular.ttf') format('woff2');
}
@font-face {
    font-family: 'Inter'; /* Nome da fonte */
    src: url('../fonts/static/Inter-Regular.ttf') format('woff2');
}

* {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

:root {
    --primary: #674634;
    --primary-l60: #a3978f;
    --primary-l50: #ac785a;
    --primary-l15: #2E2926;
    --secondary-l81: #cfcfcf;
    --secondary-l20: #333333;
    --secondary-l19: #303030;
    --secondary-l13: #222222;
    --secondary-l11: #1B1B1B;
    --secondary-l8: #141414;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--secondary-l8);
    display: flex;
    flex-direction: column;
}
.cursor-pointer:hover{
    cursor: pointer;
}

/* Barra de menu */

#logo {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h1 {
    font-family: 'Unica One', sans-serif;
    font-size: 2.2rem;
    color: var(--primary);
    user-select: none;
    }

}

#menu-button {
    display: none;
    
    span {
        display: block;
        width: 28px;
        height: 3px;
        border-radius: 3px;
        background: var(--secondary-l81);
        margin: 5px auto;
        transition: all 0.3s;
    }
}
#logo span {
    color: var(--secondary-l81);
}

#menu-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px 20px 20px 20px;
}

#menu-bar nav {
    font-family: 'Inter', sans-serif;
    display: flex;
    gap: 20px;
}

#menu-bar nav a {
    color: var(--secondary-l81);
    border-bottom: 1px solid var(--secondary-l8);

    span {
        font-size: 1.7rem;
        padding-top: 0.4rem;
    }
}
#menu-bar nav a:hover {
    transition: all 0.2s ease;
    opacity: 0.6;
}

#menu-bar nav a img {
    width: 23px;
}

/* Seção das coleções */

.section-label {
    font: 1.2rem 'Inter';
    color: var(--secondary-l81);
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}

#collections-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: start;
    width: 95%;
    max-width: 1020px;
    height: 100%;
}

#collections-section {
    width: 100%;
    height: 100%;
    display: flex;
    align-self: center;
    background-color: #1B1B1B;
    border-radius: 15px;
    padding: 30px;
    flex-direction: row;
    align-items: flex-start;
}

#search-input-section {
    width: 100%;
    height: 2.4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 7px;
    padding-left: 10px;
    background-color: var(--secondary-l11);
    border-radius: 5px;
    border: 1px solid var(--secondary-l20);

    label {
        color: var(--secondary-l81);
        font-size: 0.1rem;
    }

    input {
        width: 100%;
        background-color: transparent;
        font: 0.8rem 'Inter';
        border: none;
        color: var(--secondary-l81);
        margin-bottom: 2px;
    }:focus {
        outline: none;
    }::placeholder {
        color: #ffffff65;
    }
}

#collections-list {
    align-self: flex-start;
    min-width: 220px;
    width: 25%;
    height: 85%;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
    ul {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        gap: 10px;
    }

    ul a {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 15px 10px 15px;
        gap: 10px;
        border-radius: 5px;
        border: 1px solid var(--secondary-l20);
        background-color: var(--secondary-l13);
        text-wrap: nowrap;
        color: var(--secondary-l81);
        font-family: 'Inter', sans-serif;
        font-size: 0.9em;
        transition: all 0.2s ease-in;
        cursor: pointer;
        /* overflow: hidden; */
        text-overflow: ellipsis;
    }

    a.selected {
        background-color: var(--primary-l15);
        border: 1px solid var(--primary-l50);

        span {
            display: block;
            animation: rollIn 0.2s;
        }
    }
    a span {
        display: none;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #ffffff;
    }
}

#collection-content {
    width: 100%;
    min-height: 22rem;
    display: flex;
    padding-left: 50px;
    flex-direction: column;
    border-left: 1px solid var(--secondary-l20);
    
}

#collection-header {
    font-family: 'Inter', sans-serif;
    font-weight: 500px;
    font-size: 1.5rem;
    color: var(--secondary-l81);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#collection-header-buttons{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 10px;

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 10px;
        height: 30px;
        min-width: 30px;
        background-color: var(--secondary-l8);
        
        span {
            color: var(--secondary-l81);
            font-size: 1.7rem;
            transition: all 0.3s ease;
        }:hover{
            transition: all 0.2s ease;
            opacity: 0.7;
        }
        /* img {
            width: 20px;
            opacity: 0.8;
            transition: opacity 0.3s ease;
        }:hover{
            opacity: 1;
        } */
    }
}

#collection-classes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 7px;
    margin-bottom: 20px;
    transition: all 0.3s opacity;

    span {
        width: fit-content;
        font-family: 'Inter', sans-serif;
        font-size: 0.8rem;
        padding: 5px 10px 5px 10px;
        border-radius: 5px;
        user-select: none;
    }
}
.collection-class-purple {
    background-color: #693468;
    color: #C99DE5;
}
.collection-class-blue {
    background-color: #254366;
    color: #97b3e7
}
.collection-class-green {
    background-color: #1b5c3b;
    color: #81cea8;
}
.collection-class-orange {
    background-color: #7e5635;
    color: #daaa83;
}

#collection-items {
    position: relative;
    max-width: 100%;
    height: fit-content;
    margin-top: 20px;

}
.scroll-x {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    padding-bottom: 10px;
}

.card {
    width: 20%;
    min-width: 150px;
    height: 15rem;
    background-color: var(--primary-l15);
    border: 1px solid var(--primary-l50);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 5px;
    transition: all 0.3s ease;
    color: var(--secondary-l81);
    font-family: 'Inter', sans-serif;

    span {
        align-self: center;
        font-size: 3rem;
        font-weight: 200px;
        user-select: none;
    }

    h1 {
        width: 100%;
        text-align: center;
        font-size: 0.9rem;
        font-weight: 500;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .card-quantity {
        font-size: 0.7rem;
    }

    .card-description {
        max-width: 90%;
        text-align: center;
        margin-top: 5%;
        font-size: 0.75rem;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    a {
        font-size: 0.8rem;
        font-weight: 600;
        color: var(--primary-l60);
        cursor: pointer;
    }
}

#create-item-section {
    width: 100%;
    min-height: 18rem;
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 20px;
    /* border: 1px solid var(--secondary-l20); */
    border-radius: 15px;
    font-family: 'Inter', sans-serif;
    background-color: hsl(0, 0%, 9.9%);
    color: var(--secondary-l81);
}

#item-form {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    input[type="text"], textarea {
        border-radius: 5px;
        border: none;
        margin-bottom: 5px;
        background-color: var(--secondary-l13);
        /* border: 1px solid var(--secondary-l20); */
        min-height: 2rem;
        max-height: 5rem;
        color: var(--secondary-l81);
        font: 0.8rem 'Inter';
        padding: 10px;
        resize: none;
    }:focus {
        outline: none;
    }

    label {
        font: 0.9rem 'Inter', sans-serif;
    }
    
    button[type="submit"] {
        width: 5rem;
        border: none;
        padding: 10px;
        border-radius: 5px;
        background-color: #28644B;
        color: var(--secondary-l81);
        font: 0.8rem 'Inter';
        font-weight: 500;
        letter-spacing: 1px;
        cursor: pointer;
        transition: all 0.2s ease;
    }
    button[type="submit"]:hover {
        background-color: #20503c;
    }
}

#item-icon-form {
    list-style: none;
    display: flex;
    max-width: 25rem;
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 5px;
    overflow-x: auto;
    padding-bottom: 7px;

    li {
        background-color: var(--secondary-l13);
        color: var(--secondary-l81);
        border: 1px solid var(--secondary-l20);
        border-radius: 10px;
        padding: 5px;
        user-select: none;
        cursor: pointer;
        transition: all 0.2s ease;

        span {
            user-select: none;
            pointer-events: none;
        }
    }
    li.selected {
        background-color: var(--primary-l15);
        border-color: var(--primary-l50);
    }
}

#item-form-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    div:nth-child(1){
        width: 100%;
    }
    
    #name-input-div, #quantity-input-div {
        display: flex;
        flex-direction: column;
        gap: 10px;

        input[type="number"] {
            width: 4rem;
            min-height: 2rem;
            background-color: var(--secondary-l13);
            /* border: 1px solid var(--secondary-l20); */
            text-align: center;
            border: none;
            color: var(--secondary-l81);
        }

        input[type=number]::-webkit-inner-spin-button, 
        input[type=number]::-webkit-outer-spin-button { 
            -webkit-appearance: none;
        }
    }
}

#quantity-input {
    display: flex;
    flex-direction: row;

    button {
        width: 2rem;
        border: none;
        background-color: var(--secondary-l13);
        border: 1px solid var(--secondary-l19);
        color: var(--secondary-l81);
        cursor: pointer;
    }
} 
#quantity-input button:nth-child(1) {
    border-radius: 5px 0 0 5px;
}
#quantity-input button:nth-child(3) {
    border-radius: 0 5px 5px 0;
}

#item-components {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;
    border-left: 1px solid var(--secondary-l13);
}

#item-form-components {
    list-style: none;
    display: flex;
    flex-direction: column;
    max-height: 17rem;
    overflow-y: auto;
    gap: 7px;
    padding-right: 7px;

    li {
        background-color: var(--secondary-l13);
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 5px 15px 5px 5px;
        border-radius: 5px;
        border: 1px solid var(--secondary-l20);
        font: 0.9rem 'Inter', sans-serif;
        cursor: pointer;
        transition: all 0.2s ease;

        span {
            color: var(--secondary-l81);
        }
    }
    li.selected {
        background-color: var(--primary-l15);
        border-color: var(--primary-l50);
    }
}

.overflow-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 3px;
}::-webkit-scrollbar-thumb {
    background-color: var(--secondary-l20);
    border-radius: 3px;
}::-webkit-scrollbar-track {
    background-color: var(--secondary-l8);
}

footer {
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 20x;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font: 0.8rem 'Inter';
    color: #777777;
}

@media (max-width: 785px) {

    #menu-bar {
        justify-content: space-between;
    }
    
    #menu-button {
        display: block;
    }

    #menu-bar {
        background-color: #1B1B1B;
        margin-bottom: 30px;
    }
    #menu-bar nav {
        display: none;
    }

    .section-label {
        display: block;
    }

    
    #collections-section {
        flex-direction: column;
        padding: 20px;
        padding-right: 0;
    }

    #search-input-section {
        width: 95%;
    }
    
    #collections-list {
        min-width: 0;
        width: 100%;
        border-bottom: 1px solid var(--secondary-l20);
        padding-bottom: 5px;
        margin-bottom: 15px;
        
        ul {
            width: 100%;
            max-height: 100%;
            display:flex;
            flex-wrap: nowrap;
            flex-direction: row;
            height: 3rem;
            overflow-x: auto;
            padding-right: 20px;
            padding-bottom: 10px;

            a {
                width: fit-content;
            }
        }
    }

    #collection-content {
        min-width: 0;
        width: 100%;
        border: none;
        padding: 0;
    }

    #collection-header {
        margin-bottom: 10px;
        padding-right: 20px;
    }

    #collection-items {
        margin-top: 0;
        padding-right: 20px;
        flex-wrap: nowrap;
        overflow-x: auto;
    }
}

@keyframes rollIn {
    0% { opacity: 0; transform: translateX(-100%) rotate(-120deg); }
   100% { opacity: 1; transform: translateX(0px) rotate(0deg); }
}
